<!DOCTYPE html>
<meta charset="utf-8">
<html ng-app="app">
<head>
<title>Test Plan Generation Demo</title>
<link rel="stylesheet" type="text/css" href="bootstrap/css/bootstrap.css">
<link rel="stylesheet" type="text/css" href="styles.css">

<link href="../../../bower_components/bootstrap/dist/css/bootstrap.css" media="all" rel="stylesheet" />

<script type="text/javascript" src="../../../bower_components/angular/angular.min.js"></script>
<script src="../../../bower_components/angular-sanitize/angular-sanitize.min.js"></script>
<script src='../../../bower_components/angular-strap/dist/angular-strap.min.js'></script>
<script src='../../../bower_components/angular-strap/dist/angular-strap.tpl.min.js'></script>
<script src="../../../bower_components/tv4/tv4.js"></script>
<script src="../../../bower_components/objectpath/lib/ObjectPath.js"></script>
<script src="../../../bower_components/angular-schema-form/dist/schema-form.min.js"></script>
<script src="../../../bower_components/angular-schema-form/dist/bootstrap-decorator.min.js"></script>
<script src="../../../bower_components/angular-schema-form-dynamic-select/angular-schema-form-dynamic-select.js"></script>

<script type="text/javascript" src="app.js"></script>
</head>

<body>
  <div ng-controller="FormController" class="row">
    <div class = "col-md-4">
      <button class="btn btn-default" ng-click="openConfig()">Open Config</button>
      <div>Model: {{ model }}</div>
    </div>
    <div ng-show="showConfigModal">
      <div id="configContainer" class = "col-md-4">
        <h2>Config Form</h2>
        
        <h3 ng-show="configMessage.show" ng-style="configMessage.style">{{ configMessage.text }}</h3>

        <form name="myForm"
              sf-schema="schema"
              sf-form="form"
              sf-model="model"
              ng-submit="submitForm(myForm)"
              ng-show="showConfigForm"></form>
      </div>
    </div>
  </div>
</body>


</html>
